body .gist {
	.gist-file {
		border: 2px solid black;
		border-radius: 0;
		margin-bottom: 30px;
	}
	.gist-data {
		border-bottom: none;
		border-radius: 0;
	}
	.blob-wrapper {
		border-radius: 0;
	}
	.highlight {
		font-family: 'Space Mono', monospace !important;
		background-color: transparent;
		font-size: 14px;
	 	td {
			font-family: inherit;
			font-size: inherit;
			line-height: 1;
			padding: 4px 10px 5px 10px !important ;
		}
	}
	.blob-num {
		color: black;
		font: 12px/1.5 "Spectral", sans-serif !important;	
		pointer-events: none;
		border :none ;
		padding: 5px 10px 5px 10px !important ;
	}
	.gist-meta {
	    font: 18px/1.5 "Spectral", sans-serif !important;
		background-color: transparent;
		color: black;
		border-top : 2px solid black;		
		a {
	    	text-decoration: underline;
    		color: black;
    		font-weight: inherit;
		}
	}
}
