---
layout: default
---


<h1>{{ page.title }}</h1>

{% if page.tags %}
<small>
{% for tag in page.tags %}
	<a href="/tags/{{tag}}">{{tag}}</a> 
{% endfor %}
</small> <br>
{% endif %}

<small>{{ page.date | date: "%-d %B %Y" }}</small>

{{content}}

{% if site.data.comments[page.slug] %}

  <h2>Comments:</h2>

  {% assign comments = site.data.comments[page.slug] | sort %}

  {% for comment in comments %}
  <div class=comment>
    <h3>{{ comment[1].name }} // {{ comment[1].date | date: "%b %d, %Y" }}</h3>
    <p>{{ comment[1].message | markdownify }}</p>
  </div>
  {% endfor %}
{% endif %}

<h2>Leave a comment:</h2>

<form class="commentForm" method="POST" action="https://api.staticman.net/v2/entry/jcamposobando/jcamposobando.github.io/master/comments">
	<!-- e.g. "2016-01-02-this-is-a-post" -->
	<input name="options[slug]" type="hidden" value="{{ page.slug }}">
	<input type="hidden" name="options[reCaptcha][siteKey]" value="6LejVGwUAAAAACdZl9CTexZUY29r8Vt5BAPX7rm4">
	<input type="hidden" name="options[reCaptcha][secret]" value="cTKni5kFcRNU3T1jmokH80gENEGvybsO9wpuvN/naXbOD/lJoO74mL0bazjz/OYjRereTD4RxYxYVpKBO9dBWU6nNUgIwYp0JLpu1tvNebQjrxBc/fOgZfSjSOzjjI/ZmRIMK2PNzjoZjY49woeatSjqFvNf+D+gpdxlOShpE1E=">
	
	<input name="fields[name]" type="text" placeholder="Name"><br>
	<input name="fields[email]" type="email" placeholder="Email"><br>
	<textarea name="fields[message]" placeholder="Comment"></textarea><br>  
	
	<div class="g-recaptcha" data-sitekey="6LejVGwUAAAAACdZl9CTexZUY29r8Vt5BAPX7rm4"></div>
	
	<button type="submit">Comment!</button>
	

</form>

<script src='https://www.google.com/recaptcha/api.js'></script>

<script>
	var textarea = document.querySelector('textarea');
	textarea.addEventListener('keydown', autosize);
	function autosize(){
		var el = this;
		setTimeout(function(){
		el.style.cssText = 'height:auto; padding:0';
		el.style.cssText = 'height:' + el.scrollHeight + 'px';
		},0);
	}
	
	var grecaptcha = document.querySelector('.g-recaptcha');
	document.querySelector('.commentForm').addEventListener('focusin',showRecaptcha);
	function showRecaptcha () {
		grecaptcha.style.display = "block";
		grecaptcha.style.visibility = "visible";
	}
</script>


